<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="io.takari.m2e.jenkins.internal.launch.JenkinsLaunchConfigurationDelegate"
            id="io.takari.m2e.jenkins.plugin.launching.jenkins"
            migrationDelegate="io.takari.m2e.jenkins.internal.launch.JenkinsLaunchConfigurationMigrationDelegate"
            modes="run,debug"
            name="Jenkins"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="io.takari.m2e.jenkins.internal.ui.JenkinsLaunchTabGroup"
            id="io.takari.m2e.jenkins.plugin.launching.tabGroup"
            type="io.takari.m2e.jenkins.plugin.launching.jenkins">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="io.takari.m2e.jenkins.plugin.launching.jenkins"
            icon="icons/jenkins.png"
            id="io.takari.m2e.jenkins.plugin.launching.jenkins.icon">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="io.takari.m2e.jenkins.internal.JenkinsProjectConfigurator"
            id="io.takari.m2e.jenkins.plugin.configurator"
            name="HPI"
            runsBefore="org.jboss.tools.maven.apt.MavenCompilerAptProjectConfigurator">
      </configurator>
      <configurator
            class="io.takari.m2e.jenkins.internal.JenkinsLocalizerProjectConfigurator"
            id="io.takari.m2e.jenkins.plugin.localizerConfigurator"
            name="Localizer">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="jelly"
            id="io.takari.m2e.jenkins.jelly"
            name="Jelly file"
            priority="normal">
      </content-type>
   </extension>
   <extension
         id="nature"
         name="Jenkins Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="io.takari.m2e.jenkins.internal.JenkinsNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="builder"
         name="Jenkins builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="io.takari.m2e.jenkins.internal.JenkinsBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="io.takari.m2e.jenkins.internal.launch.LaunchShortcutAction"
            icon="icons/jenkins.png"
            id="io.takari.m2e.jenkins.launchShortcut"
            label="Jenkins plugin"
            modes="run,debug">
         <contextualLaunch>
            <contextLabel
                  label="Jenkins plugin"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="Jenkins plugin"
                  mode="debug">
            </contextLabel>
            <enablement>
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="io.takari.m2e.jenkins.plugin.nature">
                     </test>
                  </adapt>
               </iterate>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
